// src/features/word-wave/components/board/board.module.scss

@use '../../../../styles/variables.scss' as *;

.board {
    display:flex;
    flex-direction:column;
    gap: .6rem;
    max-width: 720px;
    width: 100%;
}
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}
